<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="bg-gray-100 font-sans">

  <!-- CONTEÚDO -->
  <main id="content" class="transition-all duration-300 p-10">
    <%= yield %>
  </main>

  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      const content = document.getElementById("content");

      sidebar.classList.toggle("-translate-x-64");
      content.classList.toggle("ml-64");
    }
  </script>

</body>
</html>
